/* NOTE THIS FILE IS FOR COLOR REFERENCE ONLY */

/* First Color Theme Swatches in Hex */
.color-1 { 
    color: #F2F2F2; 
}

.color-2 { 
    color: #A2A629; 
}

.color-3 { 
    color: #F28705; 
}

.color-4 { 
    color: #D96704; 
}

.color-5 { 
    color: #A61B1B; 
}

/* Additional Color Theme Swatches in Hex */
.color-1-sub { 
    color: #f2ae30; 
}

.color-2-sub { 
    color: #F27D16; 
}

.color-3-sub { 
    color: #8C4A11; 
}

.color-4-sub { 
    color: #D95525; 
}

.color-5-sub { 
    color: #0D0D0D; 
}