body{
    background-color: #f2f2f2;
}

.outer-box{
    border: 0.5px solid rgb(255, 197, 110, 0.75);
    background-color: white;
}

.img-action-box{
    width: 100%;
    height: 60vh;
}

.img-action-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-action-box:hover .list-action{
    display: flex;
}

.bg-light-orange{
    background-color: rgb(255, 251, 244, 0.75);
}

.list-action{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    display: none
}

.list-action a{
    width: 33.3333333%;
    display: flex;
    justify-content: center;
    color: rgb(231, 179, 110);
}

.list-action a:hover{
    color: #F27D16;
    text-decoration: none;
}

.brief-box{
    padding: 5%;
    padding-bottom: 0;
}

.brief-box h1{
    font-size: 70px;
    font-weight: 900;
    color: #D95525;
}

.nutrition-brief{
    padding: 10px;
    background-color: #F27D16;
    color: #f2f2f2;
    text-align: center;
    border-radius: 50px;
}

.nutrition-brief h4{
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

.nutrition-brief p{
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.ingredient-box{
    padding: 5%;
    padding-left: 10%;
}

.ingredient-box h2{
    font-size: 30px;
    font-weight: 900;
}

.ingredient-box li{
    font-size: 15px;
    font-weight: 500;
}

.link-box{
    padding:0 15px;
    color: white;
    fill-opacity: 0.5;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.link-box h2{
    font-size: 20px;
    color: white;
}

.link-box i{
    font-size: 32px;
    color: white;
}

.more-btn, .video-btn{
    padding-top: 1%;
    background-color: #F27D16;
    text-decoration: none;
    margin:0;
    border-bottom: 1px solid brown;

}

.more-btn:hover, .video-btn:hover{
    background-color: #8C4A11;
    text-decoration: none;
}


@media(max-width: 1025px){
    .brief-box h1{
        font-size: 65px;
    }
    .nutrition-brief h4{
        font-size: 18px;
    }
}

@media(max-width: 967px){
    .brief-box h1{
        font-size: 60px;
    }
    
}

@media(max-width: 767px){
    .brief-box h1{
        font-size: 50px;
    }
    .nutrition-brief h4{
        font-size: 15px;
    }
}

@media(max-width: 575px){
    .brief-box h1{
        font-size: 35px;
    }
}

@media(max-height: 667px){
    .search {
        bottom: 15%;
    }
}