/* Color Theme Swatches in Hex */
.color-1 { 
    color: #F2F2F2; 
}
.color-2 { 
    color: #A2A629; 
}
.color-3 { 
    color: #F28705; 
}
.color-4 { 
    color: #D96704; 
}
.color-5 { 
    color: #A61B1B; 
}
